*.o
*.d
*.res
/src/build.h
/src/loader/loader
/src/loader/loader-m32
/src/loader/loader-info.c
/src/proot
/src/uproot
/src/neoproot
/src/loader.exe
/tests/test_argv
/tests/test_echo
/tests/test_file_ops
/tests/test_dir_ops
/tests/test_output.txt

*~
